@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
@*@context.Identity.FindFirst("urn:github:name").Value;*@
@*@context.Identity.FindFirst("urn:github:name").Value;*@
@User.Identity.Name

